In [1]:
#Answer question 1
marks = [85, 78, 92, 88, 80]

print("Marks of 5 subjects:")
for m in marks:
    print(m)

total = sum(marks)
print("Total Marks:", total)

average = total / len(marks)
print("Average Marks:", average)

Marks of 5 subjects:
85
78
92
88
80
Total Marks: 423
Average Marks: 84.6

In [27]:
#Answer question 2
fruits = ["apple", "peach", "strawberry", "mango", "watermelon"]

fruits.append("grape")

fruits.remove("peach")  #also remove with pop fruits.pop(1)

print(fruits)

['apple', 'strawberry', 'mango', 'watermelon', 'grape']

In [43]:
#Answer question 3
student = {
    "name": "Ayesha",
    "age": 17,
    "class": "12th",
    "marks": 450
}

print("Student Information")
print("-------------------")
print("Name  :", student["name"])
print("Age   :", student["age"])
print("Class :", student["class"])
print("Marks :", student["marks"])

Student Information
-------------------
Name  : Ayesha
Age   : 17
Class : 12th
Marks : 450

In [49]:
#Answer question 4
marks = {
    "arisha": [76, 78, 89, 77, 56],
    "samad": [68, 78, 77, 88 ,75],
    "basit": [89, 67, 73, 71, 85]
}
for name, marks in marks.items():
    total_marks = sum(marks)
    percentage = (total_marks / (len(marks) * 100)) * 100
    print(f"{name} Percentage: {percentage:.2f}%")

arisha Percentage: 75.20%
samad Percentage: 77.20%
basit Percentage: 77.00%

In [61]:
#Answer question 5
student = {
    "name": "Ayesha",
    "age": 17,
    "class": "12th",
    "marks": 450
}

print(student.keys())

print(student.values())

print("Name  :", student["name"])
print("Age   :", student["age"])
print("Class :", student["class"])
print("Marks :", student["marks"])

student["marks"] = 78
print(student)

dict_keys(['name', 'age', 'class', 'marks'])
dict_values(['Ayesha', 17, '12th', 450])
Name  : Ayesha
Age   : 17
Class : 12th
Marks : 450
{'name': 'Ayesha', 'age': 17, 'class': '12th', 'marks': 78}
12th

In [67]:
student = {
    "name": "simran",
    "age": 17,
    "class": "10th",
    "marks": 567
}
student.pop("class")
print(student)

{'name': 'simran', 'age': 17, 'marks': 567}